# primary dependencies
django
django-debug-toolbar
django-environ
django-storages[google]
pillow
psycopg2-binary
uwsgi
whitenoise

# pinned dependencies
black==21.7b0

# package management
pip
pip-tools

# linting
black
flake8

# testing
mock
pytest
pytest-django
pytest-mock
